.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: right;
    padding: .5rem 1rem;
    margin-bottom: 25px;
}



body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;    
}

.btn-outline-success {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 25px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

select {
    word-wrap: normal;
} 

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    text-transform: none;
}

.h3, h3 {
    font-size: 1.75rem;
}

label {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 1rem;
    color: #212529;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 30px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: .5rem!important;
}


  /* Aturan responsif untuk kolom */
  @media (max-width: 991px) {
    .col-md-9,
    .col-md-3 {
      -ms-flex: 0 0 100%;

      
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 15px; /* Menambahkan margin antara kolom pada layar kecil */
    }
  }
  
  /* Aturan responsif untuk label */
  @media (max-width: 575px) {
    label {
      margin-top: 15px; /* Mengurangi margin atas label pada layar sangat kecil */
    }
  }
  /* Aturan responsif untuk background */
@media (max-width: 768px) {
    body {
      background-color: #ccccff; /* Menentukan warna background untuk layar kecil */
    }
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        transform: translateX(-500px);
        transition: transform 0.8s ease-in-out;
        line-height: 3;
        z-index: 9999;
        overflow-y: scroll;
        padding-left: 1rem;
      }
  }