@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container4{
    position: relative;
    height: auto;
    overflow: hidden;
    padding-bottom: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: tomato; */
}

.container4 .catatan {
    font-weight: 400;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}


.linkbp .judul {
    color: black;
    text-align: center;
    line-height: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 24px;
}

.linkfans .judul {
    color: black;
    text-align: center;
    line-height: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 3rem;

}
    

.kontainer__konten{
    position: relative;
    width: 95%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    padding-block: 3rem;
}

.subjudul {
    font-weight: 500;
    text-align: center;
    margin-block-end: 4rem;
    line-height: 1.1;
    /* background-color: tomato; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-inline: 4rem;
}

.kartu__grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-inline: auto;
    margin-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: tomato; */
}

.kartu__grid img {
    width: 100px;
}

.kartu__grid .note {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.kartu {
    position: relative;
    border-radius: 10px;
    padding: 2rem 2rem;
    margin-block: 15px;
    text-decoration: none;
}

.kartu__projects {
    min-width: 15rem;
    min-height: 15rem;
    max-width: 35rem;
    flex: 1 1;
    text-shadow: 2px 1px 10px #0000002a;
    box-shadow: rgba(0, 0, 0, 0.233) 0 0 8px 0;
}

.youtube{
    background-image: url('../image/youtubewp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.vlive{
    background-image: url('../image/vlivewp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.weverse{
    background-image: url('../image/weversewp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.twitter{
    background-image: url('../image/twitterwp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.instagram{
    background-image: url('../image/instagramwp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.fb{
    background-image: url('../image/fbwp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.yg{
    background-image: url('../image/ygwp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.base{
    background-image: url('../image/twitterwp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.telegram{
    background-image: url('../image/telegramwp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.line{
    background-image: url('../image/linewp.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}




.youtube,.vlive,.weverse,.twitter,.instagram,.base,.telegram,.line,.fb,.yg {
    transition: ease-out 300ms;}

.youtube:hover,
.vlive:hover,
.weverse:hover,
.twitter:hover,
.instagram:hover, 
.base:hover, 
.telegram:hover,
.fb:hover, 
.yg:hover,  
.line:hover {
    filter:brightness(110%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}


.kartu__grid .xparaf {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

   
/* RESPONSIVE CSS */

.menux {
    display: none;
  }
  
  @media (max-width:768px) {
    .beranda {
      width: 100%;
      float: none;
    }
  
    ::-webkit-scrollbar {
      display: block;
      width: 0;
      background-color: #f9dff2;
    }
  
    .sidebar {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      transform: translateX(-500px);
      transition: transform 0.8s ease-in-out;
      line-height: 3;
      z-index: 9999;
      overflow-y: scroll;
      padding-left: 1rem;
    }
  
    .sidebar.show {
      transform: translateX(-20px);
    }
  
    .logofr .logo {
      width: 140px;
      margin-top: 150px;
    }
  
    .menux {
      display: block;
      position: fixed;
      right: 20px;
      top: 20px;
      padding: 5px 8px;
      border-radius: 5px;
      color: #333333;
      background-color: #9999ff;
      font-size: 1rem;
      box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.35);
      z-index: 9999;
    }
  
    .kepala_judul {
      z-index: 10;
      position: absolute;
      top: 75%;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
      /* background-color: tomato; */
      margin-bottom: 1rem;
    }
  
    .kepala_judul .subtitle {
      color: white;
      text-align: center;
      line-height: 24px;
      text-shadow: 5px 1px 10px black;
      font-size: 22px;
      font-weight: 900;
    }
  
    .kontentk .illus {
      width: 400px;
    }

    .linkbp .judul {
      color: black;
      text-align: center;
      line-height: 24px;
      font-size: 20px;
      font-weight: 800;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-top: 24px;
    }
  
    .linkfans .judul {
      color: black;
      text-align: center;
      line-height: 24px;
      font-size: 20px;
      font-weight: 800;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-top: 3rem;
    }
  }
  
  @media (max-width:425px) {
  
    .kepala_judul {
      z-index: 10;
      position: absolute;
      top: 70%;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
      /* background-color: tomato; */
      margin-bottom: 1rem;
    }
  
    .kepala_judul .subtitle {
      color: white;
      text-align: center;
      line-height: 2rem;
      text-shadow: 5px 1px 10px black;
      font-size: 22px;
      font-weight: 900;
    }
  
    .linkbp .judul {
      color: black;
      text-align: center;
      line-height: 24px;
      font-size: 20px;
      font-weight: 800;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-top: 24px;
    }
  
    .linkfans .judul {
      color: black;
      text-align: center;
      line-height: 24px;
      font-size: 20px;
      font-weight: 800;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-top: 3rem;
    }

    .kontentk .illus {
        width: 300px;
    }
  
  }